/* app wrapper, structure */

.app-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav-bar"
    "main-container"
}

@media (min-width: 500px) {
  .app-wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:

      "nav-bar        nav-bar"
      "main-container main-container"
  }
}

/* NavBar component */

.nav-bar {
  height: auto;
  grid-area: nav-bar;
  overflow: hidden;
  color: white;
  background: orangered;
  background: linear-gradient(to bottom right, orangered, orange);
}

.logo-img {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}

.nav-bar nav {
  float: right;
  margin: 0;
  overflow:hidden;
  text-align: center;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
}

.nav-bar h2 {
  margin: 0;
  padding: 0;
}

.nav-bar li {
  float: right;
  display: inline-block;
  list-style-type: none;
  margin: 4px;
  color: white;
}

.nav-bar li a {
  float: right;
  display: block;
  line-height: 2em;
  list-style-type: none;
  margin: 4px;
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.nav-bar li a:hover {
  list-style-type: none;
  margin: 4px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.nav-bar a {
  float: right;
  text-decoration: none;
  color: white;
}

.nav-bar-title {
  float: left;
  letter-spacing: -2px;
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
}

.nav-bar-logout {
  list-style-type: none;
  line-height: 2em;
  display: block;
  margin: 4px;
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.nav-bar-logout:hover {
  list-style-type: none;
  cursor: pointer;
  display: block;
  margin: 4px;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Login and Signup Components */

.user-form {
  margin: 20px 20%;
  padding: 10px;
  text-align: center;
  border: 5px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: black;
}

.submit-button {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: white;
  color:black;
}

.user-form input {
  margin: 5px;
}

.user-form button {
  margin: 5px;
}

.user-form a {
  color: black;
  text-decoration: none;
}

.user-form a:hover {
  color: orangered;

}

/* main container structure */

.main-wrapper {
  grid-area: main-container;
  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-areas:

    "user-container"
    "flaps-container"
}

 @media (min-width: 500px) {
  .main-wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:

      "user-container flaps-container"
      "user-container flaps-container"
  }
}

/* UserContainer */

.user-container {
  grid-area: user-container;
  border: 5px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  /* overflow-y: auto; */
}

/* flaps container */

.flaps-container {
  grid-area: flaps-container;
  border: 5px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}
