/* app wrapper, structure */

body {
  background-image: url("butterfly_logo_trans_50.png");
}

.app-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav-bar"
    "main-container"
}

@media (min-width: 500px) {
  .app-wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:

      "nav-bar        nav-bar"
      "main-container main-container"
  }
}

/* NavBar component */

.nav-bar {
  height: auto;
  grid-area: nav-bar;
  overflow: hidden;
  color: white;
  background: orangered;
  background: linear-gradient(to bottom right, orangered, orange);
}

.logo-img {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}

.nav-bar nav {
  float: right;
  margin: 0;
  overflow:hidden;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
}

.nav-bar h4 {
  margin: 0;
  padding: 0;
}

.nav-bar-title {
  float: left;
  letter-spacing: -2px;
  font-family: 'Kaushan Script', cursive;
  font-size: 32px;
}

.nav-bar li {
  float: right;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  margin: 4px;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.nav-bar a {
  margin: 4px;
  float: right;
  text-decoration: none;
  color: white;
}

.nav-bar li a {
  float: right;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  margin: 0px;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.nav-bar li a:hover {
  list-style-type: none;
  margin: 0px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.nav-bar-logout {
  list-style-type: none;
  /* line-height: 2em; */
  display: block;
  margin: 4px;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.nav-bar-logout:hover {
  list-style-type: none;
  cursor: pointer;
  display: block;
  margin: 4px;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Login and Signup Components */

.user-form {
  grid-area: main-container;
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  color: black;
}

.submit-button {
  font-family: 'Kaushan Script', cursive;
  font-size: 10pt;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background-color: orangered;
  background: linear-gradient(to bottom right, orangered, orange);
  color: white;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: white;
  color:black;
  border-color: orange;
}

.user-form input {
  margin: 5px;
}

.user-form button {
  margin: 5px;
}

.user-form a {
  color: black;
  text-decoration: none;
}

.user-form a:hover {
  color: orangered;

}

/* main container structure */

.main-wrapper {
  grid-area: main-container;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "flap-create"
    "user-container"
    "flaps-container"
}

 @media (min-width: 500px) {
  .main-wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "flap-create    flap-create"
      "user-container flaps-container"
      "user-container flaps-container"
  }
}

/* Flap-Create */

.flap-create {
  grid-area: flap-create;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.flap-create-textarea {
  margin: 10px 10px 10px 10px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  height: 60%;
  width: 60%;
  border-radius: 10px;
  border: 1px solid orange;
  font-size: 14px;
}

.flap-create-submit-button {
  font-family: 'Kaushan Script', cursive;
  font-size: 10pt;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background-color: orangered;
  background: linear-gradient(to bottom right, orangered, orange);
  color: white;
}

.flap-create-submit-button:hover {
  background-color: white;
  color: black;
  border-color: orange;
}

/* UserContainer */

.user-container {
  grid-area: user-container;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  /* overflow-y: auto; */
}

.userProfile {
  margin: 10px 15px 15px 10px;
  padding: 10px 15px 15px 10px;
  background: white;
  background: linear-gradient(to bottom right, white, whitesmoke);
  border-radius: 10px;
  border: 1px solid orange;
}

.userProfile {
  font-family: 'Permanent Marker', cursive;
}

/* flaps container */

.flaps-container {
  grid-area: flaps-container;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.flapItem {
  margin: 10px 15px 15px 10px;
  padding: 10px 15px 15px 10px;
  background: white;
  background: linear-gradient(to bottom right, white, whitesmoke);
  border-radius: 10px;
  border: 1px solid orange;
}

.flapItem a {
  text-decoration: none;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.flapItem a:hover {
  text-decoration: none;
  color: orange;
}

.flapItem-user {
  font-family: 'Permanent Marker', cursive;
}

.flapItem-delete {
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  color: orange;
}

.flapItem-delete:hover {
  cursor: pointer;
  color: orangered;
}

.flapItem-img:hover {
  cursor: pointer;
}

.flapItem-fx:hover {
  cursor: pointer;
  color: orangered;
}

/* userList-Container */

.userList-container {
  grid-area: flaps-container;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.userItem {
  margin: 10px 15px 15px 10px;
  padding: 10px 15px 15px 10px;
  background: white;
  background: linear-gradient(to bottom right, white, whitesmoke);
  border-radius: 10px;
  border: 1px solid orange;
}

.userItem-user {
  font-family: 'Permanent Marker', cursive;
}

.userItem-name {
  font-family: 'Permanent Marker', cursive;
}
